<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="title">Dream Wave.</h1>
    <ul class="list">
        <li class="list1">Home</li>
        <li class="list2">Contact</li>
        <li class="list3">Login/Signup</li>
    </ul>
    <h1 class="provide">Provide your information</h1>
    <form action="/create" method="post">
        <div class="input-container">
        <label class="titlelabel" for="title">Enter the title: </label>
        <input class="titleinput" type="text" name="title" id="title">
        <div class="line1"></div>
    </div>
    <br><br><br><br>
    <div class="input-container">
        <label class="descriptionlabel" for="description">Enter the description: </label>
        <input class="descriptioninput" type="text" name="description" id="description">
        <div class="line2"></div>
    </div>
        <button id="button" name="harini">submit</button> 
        <button id="back" name="harini">back</button> 
        <br><br>
    </form>
    <img src="five.png" class="bg" alt="">
</body>
</html>