<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="styles1.css">
</head>
<body>
    <h1 class="title">Dream Wave.</h1>
    <ul class="list">
        <li class="list1">Home</li>
        <li class="list2">Contact</li>
        <li class="list3">Login/Signup</li>
    </ul>
    <h2>MY BLOGS</h2>
    <div class="onework">
        <% blogs.forEach(blog => { %>
            <div class="container">
                <div class="blog-entry">
                    <div class="blog-content">
                        <div class="blog-title"><%= blog.title %></div>
                        <div class="blog-description"><%= blog.description %></div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    <script src="index.js"></script>
</body>
</html>
